<div class="identificator">sambossino</div>
<div>
  <div id="titoloChat">LA CHAT PIÙ BELLA DEL MONDO</div>
  <button  onclick="logout()" class="btn btn-primary" id="logout" type="submit">Logout</button>
</div>
<div id="dialog-window">
  <div id="scrollable-content">
    <ul id="messages"></ul>
  </div>
</div>
<form id="chatForm">
  <div class="input-group">
    <input autocomplete="off" id="m" type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">Invia</button>
    </span>
  </div>
</form>
